:host {
    display: block;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.container{
    width: 50vh;
    height: 30vh;
    padding: 10px;
}

form {
    background-color: #C5CAE9;
    /* light-primary-color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #3F51B5;
    /* primary-color */
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #212121;
    /* primary-text */
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #BDBDBD;
    /* divider-color */
    border-radius: 4px;
    font-size: 16px;
}

input:focus,
textarea:focus {
    border-color: #3F51B5;
    /* primary-color */
    outline: none;
}

button {
    background-color: #303F9F;
    /* dark-primary-color */
    color: #FFFFFF;
    /* text-icons */
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3F51B5;
    /* primary-color */
}

.error-message {
    color: #FF4081;
    /* accent-color */
    font-size: 14px;
}