<h2 *ngIf="!isUpdate">Crear nuevo cliente</h2>
<h2 *ngIf="isUpdate">Editar cliente</h2>
<button routerLink='home'>Volver</button><br /><br />



<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="name">Nombre: </label>
        <input type="text" id="nombre" name="name" formControlName="name" required />
    </div>  
    <div>
        <label for="phoneNumber">Numero de telefono: </label>
        <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber" required />
    </div>
    <div>
        <label for="creationDate">Fecha creacion: </label>
        <input type="date" id="creationDate" name="creationDate" formControlName="creationDate" required />
    </div>

    <button class="btnSave" type="submit" [disabled]="clienteForm.invalid">
        <p>Guardar</p>  
    </button>
</form>