<h2>Clientes activos</h2>
<button (click)="regresarHome()">Volver</button><br /><br />


<ul>
    <li *ngFor="let cliente of clientes">
    <div>
        <strong>Nombre: </strong> {{cliente.name}}
        </div>
        <div>
            <strong>Numero de telefono: </strong> {{cliente.phoneNumber}}
        </div>
        <div>
            <strong>Dia de creacion: </strong> {{cliente.creationDate}}
        </div>
        <button class="btnDel" (click)="eliminarCliente(cliente)">
            Eliminar
        </button>
        <button class="btnEdit" (click)="editarCliente(cliente)">
            Editar
        </button>
    </li>
</ul>
